<style>
    .ck.ck-word-count {
        display: flex;
    }

    .ck.ck-word-count > * {
        margin-right: 1rem;
    }

    #manage {
        width: 30%;
    }

    @media only screen and (max-width: 1600px) {
        #manage {
            display: none;
        }
    }
</style>

<section class="d-flex">
    <form method="POST" enctype="multipart/form-data" class="w-100 py-3 container" <% if(blog.slug) { %>
        action="/blogs/edit/<%= blog.id %>" <% } %>>
        <h1><% if(blog.slug) { %> Edit Blogpost <% } else { %> New Blogpost <% } %></h1>
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input id="title" type="text" class="form-control" placeholder="Title" name="title" required value="<%= blog.title %>" />
        </div>
        <% if(blog.slug) {%>
        <div class="mb-3">
            <label for="slug" class="form-label">Slug</label>
            <input id="slug" type="text" class="form-control" placeholder="Slug" disabled value="<%= blog.slug %>" />
        </div>
        <%}%>
        <div class="mb-3 d-flex">
            <div style="flex: 1; margin-right: 12px">
                <label for="select-category" class="form-label">Category</label>
                <select id="select-category" class="form-select" aria-label="Select Category" name="category" >
                    <% if(blog.slug) { %>
                    <option>Select Category</option>
                    <% } else { %>
                    <option selected>Select Category</option>
                    <% } categories.map((cat) => { %>
                    <option value="<%= cat.id %>" <% if(blog.category_id === cat.id) { %>selected<% } %> ><%= cat.name %></option>
                    <% }) %>
                </select>
            </div>
            <div style="flex: 1; margin-left: 12px">
                <label for="language" class="form-label">Language</label>
                <input id="language" type="text" class="form-control" name="language" placeholder="Language" value="<%= blog.language %>" required />
            </div>
        </div>
        <div class="mt-4">
            <textarea name="body">
                    <%- blog.body %>
                </textarea
            >
            <div id="word-count-wrapper" class="d-flex align-items-center"></div>
        </div>
        <div class="mt-4 d-flex justify-content-end">
            <a href="/blogs" class="btn btn-secondary ms-3">Cancel</a>
            <% if(blog.slug && !blog.published_at) { %> <a href="/blogs/publish/<%= blog.id %>" class="btn btn-success ms-3">Publish</a> <% } %>
            <button type="submit" class="btn btn-primary ms-3">Save</button>
        </div>
    </form>
    <div id="manage" class="p-3">
        <div class="list-group mb-4">
            <div class="list-group-item d-flex align-items-center justify-content-between">
                <h3 class="mb-0">Files</h3>
                <div>
                    <button class="btn btn-secondary" v-on:click="getMedia()">Reload</button>
                    <label for="uploadFileInput" class="btn btn-primary ms-2">
                        <input id="uploadFileInput" type="file" accept="*" class="d-none" v-on:change="onFile" />
                        Upload
                    </label>
                </div>
            </div>
            <div class="list-group-item d-flex align-items-center justify-content-between" v-for="file in media">
                <p class="mb-0">
                    {{ file.name }}
                </p>
                <div>
                    <button class="btn btn-primary" v-on:click="copyUrl(file.url)">Copy URL</button>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="/js/vue-<%= process.env.NODE_ENV %>.js"></script>
<script src="/js/ckeditor.js"></script>
<script async type="module" src="/js/editor.js"></script>
