<div class="container py-3">
    <div class="mb-3">
        <form class="input-group" action="/blogs/featured" method="POST">
            <select id="select-featured-post" class="form-select" aria-label="Select featured Post" name="id">
                <option <% if(!featured) { %>selected<% } %> value="null">Select featured Post</option>
                <% contents.filter((el) => el.published_at).map((content) => { %>
                <option value="<%= content.id %>" <% if(featured == content.id) { %>selected<% } %>><%= content.title %></option>
                <% }) %>
            </select>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
    <table class="table table-bordered table-striped">
        <thead>
            <td>Slug</td>
            <td>Title</td>
            <td>Username</td>
            <td>Published</td>
            <td>Category</td>
            <td>
                <div class="d-flex justify-content-end">
                    <a href="/blogs/categories" class="btn btn-primary ms-3">Categories</a>
                    <a href="/blogs/new" class="btn btn-primary ms-3">New</a>
                </div>
            </td>
        </thead>
        <tbody>
            <% if(contents.length > 0) { contents.map((el) => { %>
            <tr>
                <td><p><%= el.slug %></p></td>
                <td><p><%= el.title %></p></td>
                <td><p><%= el.username %></p></td>
                <td><p><%= el.published_at ? new Date(el.published_at).toLocaleString() : "No" %></p></td>
                <td><p><%= el.category ? el.category : "None" %></p></td>
                <td>
                    <div class="d-flex justify-content-end">
                        <a href="/blogs/edit?id=<%= el.id %>" class="btn btn-secondary">Edit</a>
                        <% if(!el.published_at) { %>
                        <a href="/blogs/publish/<%= el.id %>" class="btn btn-success ms-3">Publish</a>
                        <% } %>
                        <button class="btn btn-danger ms-3" onclick="delItem('<%= el.id %>')">Delete</button>
                    </div>
                </td>
            </tr>
            <% }) } else { %>
            <tr>
                <td colspan="6">
                    <p style="text-align: center">No Blogposts yet</p>
                </td>
            </tr>
            <% } %>
        </tbody>
    </table>
</div>

<script>
    function delItem(id) {
        const confirmed = confirm("Do you really want to delete this object?");

        if (confirmed) {
            window.location.href = "/blogs/delete?id=" + id;
        }
    }
</script>
