<style>
    .ck.ck-word-count {
        display: flex;
    }

    .ck.ck-word-count > * {
        margin-right: 1rem;
    }

    #manage {
        width: 30%;
    }

    @media only screen and (max-width: 1600px) {
        #manage {
            display: none;
        }
    }
</style>

<div class="d-flex">
    <form method="POST" enctype="multipart/form-data" class="w-100 py-3 container" <% if(project.slug) { %>
        action="/projects/edit/<%= project.id %>" <% } %>>
        <h1><% if(project.slug) { %> Edit Project <% } else { %> New Project <% } %></h1>
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input id="name" type="text" class="form-control" placeholder="Name" name="name" required value="<%= project.name %>" />
        </div>
        <div class="mb-3">
            <label for="imgUrl" class="form-label">Image URL</label>
            <input id="imgUrl" type="text" class="form-control" placeholder="Image URL" name="imgUrl" required value="<%= project.image_url %>" />
        </div>
        <% if(project.slug) {%>
        <div class="mb-3">
            <label for="slug" class="form-label">Slug</label>
            <input id="slug" type="text" class="form-control" placeholder="Slug" disabled value="<%= project.slug %>" />
        </div>
        <%}%>
        <div class="mt-4">
            <textarea name="content">
                    <%- project.content %>
                </textarea
            >
            <div id="word-count-wrapper" class="d-flex align-items-center"></div>
        </div>
        <div class="mt-4 d-flex justify-content-end">
            <a href="/projects" class="btn btn-secondary ms-3">Cancel</a>
            <button type="submit" class="btn btn-primary ms-3">Save</button>
        </div>
    </form>
    <div id="manage" class="p-3">
        <div class="list-group mb-4">
            <div class="list-group-item d-flex align-items-center justify-content-between">
                <h3 class="mb-0">Files</h3>
                <div>
                    <button class="btn btn-secondary" v-on:click="getMedia()">Reload</button>
                    <label for="uploadFileInput" class="btn btn-primary ms-2">
                        <input id="uploadFileInput" type="file" accept="*" class="d-none" v-on:change="onFile" />
                        Upload
                    </label>
                </div>
            </div>
            <div class="list-group-item d-flex align-items-center justify-content-between" v-for="file in media">
                <p class="mb-0">
                    {{ file.name }}
                </p>
                <div>
                    <button class="btn btn-primary" v-on:click="copyUrl(file.url)">Copy URL</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/vue-<%= process.env.NODE_ENV %>.js"></script>
<script src="/js/ckeditor.js"></script>
<script async type="module" src="/js/editor.js"></script>
